.product-page {
    max-width: 1200px;
    min-width: 700px;
    width: 1200px;
    margin: auto;
    padding-top: 100px;
}

.product-data {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

.product-image {
    width: 450px;
    height: 700px;
}

.product-info {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    min-height: 500px;
    flex-shrink: 1;
}

.product-title {
    font-size: 30px;
    color: #929292;
}

.product-description {
    font-size: 18px;
    color: #929292;
}

fieldset {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

input {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 20px;
}

button {
    align-self: flex-end;
}

.common-products{
    padding-top: 100px;
}
.common-products-title{
    font-size: 30px;
    text-align: center;
    color: #929292;
    margin-bottom: 20px;
}