@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

button {
  all: unset;
  cursor: pointer;
}

.main-container {
  min-height: 100vh;
}