.link-button {
    all: unset;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border: 2px solid #929292;
    text-decoration: none;
    color: #929292;
    transition: 0.3s ease-in-out;
    border-radius: 15px;
}

.link-button:hover {
    border: 2px solid #000000;
    color: #000000;
}